# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Google credentials
token.pkl
/opt/render/secrets/credentials.json

# Recordings (optional if you don’t want them in Git)
recordings/
