# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/

# Google token & secrets
token.pkl
credentials.json

# Logs & temp
*.log
*.tmp

# Recordings (optional to ignore locally)
recordings/

# VSCode / IDE
.vscode/
.idea/
